<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hacker News Picker</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
  </head>
  <body>
    <nav>
      <a href='/info'>Info</a>
    </nav>
    <main>
      <h1>Hacker News Picker</h1>
      {% for index, article in articles.iterrows() %}
        <div key={{index}}><span>Article titel: {{article['Title']}}</span><spab>Category: {{article['Category']}}</span><span>Interest Rating: {{article['Interest_Rating']}}</span></div>
      {% endfor %}
    </main>
  </body>
</html>
